In [4]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.2)

In [5]:
import pymysql

In [6]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (9.5.0)Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector as conn

In [9]:
# Database connection
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='12345678',
    database='world'
)

In [11]:
# make a connection with mysql
mydb = conn.connect(
  host="localhost",
  user="root",
  password="12345678",
  database='world'
)

In [12]:
mycursor = connection.cursor()

In [13]:
#show database
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('batch',)
('class',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [14]:
mycursor.execute("use batch")

0

In [15]:
mycursor.execute("show tables")

for x in mycursor:
  print(x)

('cource_1',)
('course',)
('course1',)
('course2',)
('course3',)
('course4',)
('course9',)
('course_detail',)
('course_detail1',)
('employees1',)
('mayur1',)
('products',)
('student',)
('student9',)
('students',)
('students1',)
('students2',)
('t_school',)

In [18]:
mycursor.execute("select * from course1")

for i in mycursor:
    print(i)

(101, 'fsda', 'full stack data analytics', 'Analytics')
(102, 'fsds', 'full stack data analytics', 'Analytics')
(103, 'fsds', 'full stack data science', 'DS')
(104, 'big data', 'full stack big data', 'BD')
(105, 'mern', 'web dev', 'mern')
(106, 'blockchain', 'full stack blockchain', 'BC')
(101, 'java', 'full stack java', 'java')
(102, 'testing', 'full testing ', 'testing ')
(105, 'cybersecurity', 'full stack cybersecurity', 'cybersecurity')
(109, 'c', 'c language', 'c')
(108, 'c++', 'C++ language', 'language')

In [19]:
mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

0

In [20]:
# HERE WE EDIT THE TABLE ADD ANOTHER COLUMN "MOB", WHICH IS AUTOINCREMENTED AND ALSO PRIMARY KEY
mycursor.execute("ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY first")

0

In [21]:
#inserting single row 
# NO NEED OF GIVE PARAMETER WHICH IS AUTOINCEMENTED
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("ROHIT", "Highway 21")

mycursor.execute(sql, val)
connection.commit()

In [22]:
mycursor.execute("select * from customer")

for i in mycursor:
    print(i)

(1, 'ROHIT', 'Highway 21')

In [23]:
# INSERT MANY VALUE AT A TIME
sql = "INSERT INTO customer(name, address) VALUES (%s, %s)"
val = [("ROHIT", "Highway 21"),
  ('Peter', 'Lowstreet 4'),
  ('Ammy', 'Apple st 652'),
  ('Huma', 'Mountain 21')]

In [24]:
mycursor.executemany(sql, val)
connection.commit()

In [25]:
mycursor.execute("select * from customer")

for i in mycursor:
    print(i)

(1, 'ROHIT', 'Highway 21')
(2, 'ROHIT', 'Highway 21')
(3, 'Peter', 'Lowstreet 4')
(4, 'Ammy', 'Apple st 652')
(5, 'Huma', 'Mountain 21')

In [27]:
mycursor.execute("SELECT * FROM employees1")
#for i in mycursor:
    #print(i)

rows = mycursor.fetchall()

In [28]:
rows

((1, 'Alice', 'North', 'Sales', Decimal('5000')),
 (2, 'Bob', 'North', 'Sales', Decimal('7000')),
 (3, 'Charlie', 'South', 'Marketing', Decimal('3000')),
 (4, 'David', 'North', 'Sales', Decimal('4000')),
 (5, 'Eve', 'South', 'Sales', Decimal('6000')),
 (6, 'Frank', 'South', 'Marketing', Decimal('8000')),
 (7, 'Grace', 'North', 'HR', Decimal('2000')),
 (8, 'Hannah', 'South', 'HR', Decimal('3500')),
 (9, 'Ivy', 'West', 'Sales', Decimal('5500')),
 (10, 'Jack', 'East', 'Sales', Decimal('4500')),
 (11, 'Kylie', 'West', 'HR', Decimal('2500')),
 (12, 'Liam', 'East', 'Sales', Decimal('7000')),
 (13, 'Megan', 'North', 'Marketing', Decimal('9000')),
 (14, 'Nate', 'South', 'HR', Decimal('3800')),
 (15, 'Olivia', 'West', 'Sales', Decimal('6000')),
 (16, 'Paul', 'East', 'Marketing', Decimal('5000')),
 (17, 'Quinn', 'North', 'HR', Decimal('2700')),
 (18, 'Rita', 'South', 'Sales', Decimal('8000')),
 (19, 'Sam', 'West', 'Marketing', Decimal('3500')),
 (20, 'Tom', 'East', 'HR', Decimal('2200')),
 (21, 'Uma', 'North', 'Sales', Decimal('7500')),
 (22, 'Vera', 'South', 'Marketing', Decimal('3200')),
 (23, 'Walter', 'North', 'HR', Decimal('1900')),
 (24, 'Xena', 'East', 'Sales', Decimal('5000')),
 (25, 'Yara', 'South', 'HR', Decimal('2700')),
 (26, 'Zoe', 'West', 'Sales', Decimal('6500')),
 (27, 'Alan', 'East', 'Sales', Decimal('4600')),
 (28, 'Becky', 'South', 'HR', Decimal('3100')),
 (29, 'Carlos', 'North', 'HR', Decimal('2900')),
 (30, 'Diana', 'West', 'Marketing', Decimal('7000')),
 (31, 'Ethan', 'South', 'Sales', Decimal('4200')),
 (32, 'Fiona', 'North', 'Marketing', Decimal('8400')),
 (33, 'Gina', 'East', 'HR', Decimal('2800')),
 (34, 'Howard', 'South', 'Marketing', Decimal('7700')),
 (35, 'Iris', 'West', 'Sales', Decimal('6000')),
 (36, 'Jake', 'East', 'Sales', Decimal('5100')),
 (37, 'Kim', 'South', 'HR', Decimal('2600')),
 (38, 'Leo', 'North', 'Sales', Decimal('6400')),
 (39, 'Maya', 'South', 'Sales', Decimal('6800')),
 (40, 'Nora', 'West', 'Marketing', Decimal('5400')),
 (41, 'Oscar', 'North', 'Sales', Decimal('5600')),
 (42, 'Paula', 'East', 'Marketing', Decimal('6200')),
 (43, 'Quincy', 'South', 'Sales', Decimal('7700')),
 (44, 'Randy', 'West', 'Sales', Decimal('4600')),
 (45, 'Sophie', 'North', 'HR', Decimal('2400')),
 (46, 'Tony', 'South', 'HR', Decimal('3300')),
 (47, 'Ursula', 'West', 'Marketing', Decimal('6500')),
 (48, 'Victor', 'North', 'Sales', Decimal('5800')),
 (49, 'Wendy', 'South', 'Sales', Decimal('4000')),
 (50, 'Xander', 'East', 'Sales', Decimal('5300')),
 (51, 'Yasmine', 'West', 'HR', Decimal('2600')),
 (52, 'Zach', 'South', 'Sales', Decimal('5200')),
 (53, 'Ava', 'North', 'Sales', Decimal('7300')),
 (54, 'Brandon', 'East', 'Sales', Decimal('5800')),
 (55, 'Caitlin', 'West', 'Sales', Decimal('4600')),
 (56, 'Derek', 'North', 'Marketing', Decimal('9000')),
 (57, 'Emily', 'South', 'HR', Decimal('3300')),
 (58, 'Felix', 'East', 'HR', Decimal('3500')),
 (59, 'Graham', 'North', 'HR', Decimal('2300')),
 (60, 'Holly', 'South', 'Sales', Decimal('7000')),
 (61, 'Isaac', 'West', 'HR', Decimal('2700')),
 (62, 'Julia', 'North', 'Sales', Decimal('8100')),
 (63, 'Kevin', 'South', 'Marketing', Decimal('5400')),
 (64, 'Laura', 'East', 'Sales', Decimal('6000')),
 (65, 'Mike', 'North', 'HR', Decimal('2200')),
 (66, 'Nancy', 'West', 'Marketing', Decimal('7500')),
 (67, 'Oscar', 'South', 'HR', Decimal('3800')),
 (68, 'Pamela', 'East', 'Sales', Decimal('6700')),
 (69, 'Quincy', 'North', 'Marketing', Decimal('5000')),
 (70, 'Rachel', 'South', 'Sales', Decimal('5700')),
 (71, 'Steve', 'West', 'Sales', Decimal('6900')),
 (72, 'Tina', 'South', 'Marketing', Decimal('6500')),
 (73, 'Ulysses', 'East', 'HR', Decimal('3000')),
 (74, 'Vince', 'North', 'Sales', Decimal('4800')),
 (75, 'Will', 'South', 'Sales', Decimal('4900')),
 (76, 'Xena', 'West', 'HR', Decimal('2900')),
 (77, 'Yvonne', 'North', 'HR', Decimal('3400')),
 (78, 'Zoe', 'South', 'Sales', Decimal('7600')),
 (79, 'Amy', 'East', 'Sales', Decimal('5400')),
 (80, 'Brad', 'North', 'HR', Decimal('2100')),
 (81, 'Claire', 'South', 'Sales', Decimal('6700')),
 (82, 'Doug', 'West', 'Marketing', Decimal('4500')),
 (83, 'Ella', 'North', 'Sales', Decimal('4800')),
 (84, 'Felicia', 'South', 'HR', Decimal('2200')),
 (85, 'George', 'East', 'Sales', Decimal('5100')),
 (86, 'Hannah', 'West', 'HR', Decimal('3800')),
 (87, 'Ivan', 'South', 'Sales', Decimal('5600')),
 (88, 'Jackie', 'North', 'Sales', Decimal('6900')),
 (89, 'Kimberly', 'South', 'HR', Decimal('3100')),
 (90, 'Landon', 'West', 'Sales', Decimal('5300')),
 (91, 'Monica', 'East', 'Marketing', Decimal('6000')),
 (92, 'Nancy', 'South', 'HR', Decimal('2400')),
 (93, 'Olivia', 'West', 'Sales', Decimal('5500')),
 (94, 'Parker', 'North', 'HR', Decimal('3200')),
 (95, 'Quinn', 'South', 'Sales', Decimal('5200')),
 (96, 'Rachel', 'East', 'Marketing', Decimal('5000')),
 (97, 'Samantha', 'South', 'HR', Decimal('3100')),
 (98, 'Terry', 'North', 'Sales', Decimal('4600')),
 (99, 'Ursula', 'South', 'Sales', Decimal('6000')),
 (100, 'Victor', 'West', 'HR', Decimal('4200')))

In [29]:
import pandas as pd

# Extract column names from cursor description
columns = [col[0] for col in mycursor.description]

In [30]:
df = pd.DataFrame(rows, columns=columns)

In [31]:
df

    employee_id employee_name region department sales
0             1         Alice  North      Sales  5000
1             2           Bob  North      Sales  7000
2             3       Charlie  South  Marketing  3000
3             4         David  North      Sales  4000
4             5           Eve  South      Sales  6000
..          ...           ...    ...        ...   ...
95           96        Rachel   East  Marketing  5000
96           97      Samantha  South         HR  3100
97           98         Terry  North      Sales  4600
98           99        Ursula  South      Sales  6000
99          100        Victor   West         HR  4200

[100 rows x 5 columns]

In [32]:
#cursor.close()
#conn.close()

In [37]:
# ---- A. Read the CSV File ----
csv_path = "C:\\Users\\USER\\Downloads\\33. Laptop_CSV_File.csv"
df = pd.read_csv(csv_path)

In [38]:
df

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080
...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1298,Lenovo,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,33992.6400
1299,1299,Lenovo,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,79866.7200
1300,1300,Lenovo,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,12201.1200
1301,1301,HP,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,40705.9200
1302,1302,Asus,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,19660.3200